         body {
             background: #44A08D;
             /* fallback for old browsers */
             background: -webkit-linear-gradient(to right, #093637, #44A08D);
             /* Chrome 10-25, Safari 5.1-6 */
             background: linear-gradient(to right, #093637, #44A08D);
             /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
         }
         /* .main {
                width: 100%;
            }
             */
         
         .header {
             width: 100%;
             height: auto;
             display: flex;
             align-items: center;
             justify-content: center;
             text-align: center;
             background: #0d1b2e;
             color: white;
         }
         
         .midsec {
             padding: 20px 50px;
             background-color: rgb(71, 191, 165, 0.95);
         }
         
         .midsec p {
             text-align: center;
             color: white;
             padding: 10px 50px;
         }
         
         .center {
             top: 30%;
         }
         
         .center p {
             color: white;
             text-align: center;
             font-size: 20px;
             font-weight: bold;
         }
         
         #timer {
             margin: 5%;
             color: white;
             font-weight: bold;
             font-size: 20px;
             width: 10%;
         }
         
         .buttons {
             display: flex;
             align-items: center;
             justify-content: center;
             /* padding: 30px 30px;
             margin-left: 20%; */
         }
         
         textarea {
             background-color: rgb(179, 179, 179);
             box-shadow: 0 0 1px rgba(218, 80, 45, 0.705);
             border: 10px solid rgb(255, 255, 255);
             color: rgb(0, 0, 0);
             width: 40%;
             height: 100px;
             display: block;
             margin: auto;
             border-radius: 20px;
             outline: none;
             resize: none;
         }
         
         button {
             font-weight: bold;
             margin: 10px;
             color: #093637;
             background: rgb(255, 255, 255);
             border: none;
             height: 40px;
             width: 80px;
             outline: none;
             border: 5px solid #093637;
         }
         
         button:hover {
             cursor: pointer;
             color: white;
             background: #093637;
             border-color: white;
         }